<h3>eKart</h3>
<div class="ekart--header">
    <div class="ekart--logo">
        ekart
    </div>
    <div class="ekart--header--nav">
        <!-- <app-top-menu /> -->
        <div class="ekart--bottom--bar">
            <app-main-menu />
            <div class="ekart--search-bar">
                <input type="text" class="ekart--search-box" placeholder="Searc">
                <button class="ekart--search--btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>